		<!-- Begin Footer Nav Bar -->
        <nav class="navbar navbar-default navbar-fixed-bottom">
		  <div class="footer-container">
		    Powered by <a href="http://flask.pocoo.org/">Flask</a> and <a href="https://getbootstrap.com">Bootstrap</a>.
            Created by <a href="https://github.com/fgouteroux">fgouteroux</a>
		  </div>
		</nav>
        <!-- End Footer Nav Bar -->


        <!-- Libraries -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>