{% include 'header.html' %}
{% block content %}

    <nav class="navbar navbar-header navbar-fixed-top">
        <a class="navbar-brand" href="/">Platform Status</a>
        <div class="nav navbar-nav navbar-right">
            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span><i class="glyphicon glyphicon-user"></i> {{ current_user }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a href="/settings"><i class="glyphicon glyphicon-wrench"></i> Settings</a>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">  
        <h3> Platform Health:</h3>
        <table class="table small-text">
            <thead>
                <th>Type</th>
                <th>Name</th>
                <th>Node</th>
                <th>Status</th>
                <th>Checked At</th>
                <th>Elapsed Time</th>
                <th>Retries</th>
            </thead>
            <tbody>
           {% for service in services %}
                <tr>
                    <td>{{ service.type | default("n/a")}}</td>
                    <td>{{ service.name | default("n/a")}}</td>
                    <td>{% if service.nodename is defined %}
                            {{ service.nodename }} ({{ service.node | default("n/a")}})
                        {% else %}
                            {{ service.node | default("n/a")}}
                        {% endif %}
                        </td>
                    <td {% if service.state == "operational" %}
                            class="success"
                        {% elif service.state == "down" %}
                            class="danger"
                        {% else %}
                            class="unknown"
                        {% endif %}
                        >{{ service.state | default("n/a")}}
                    </td>
                    <td>{{ service.checked | default("n/a")}}</td>
                    <td>{{ service.elapsed | default("n/a") }}</td>
                    <td>{% if service.retries is defined %}
                            {% if service.retries|int <= config.retries_before_notify %}
                                {{ service.retries }}/{{ config.retries_before_notify }}
                            {% else %}
                                {{ config.retries_before_notify }}/{{ config.retries_before_notify }} ({{ service.retries }})
                            {% endif %}
                        {% else %}
                            n/a
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% include 'footer.html' %}
